{% extends "base.html" %}
{% load static %}
{% block main_content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li></li>
        </ol>
        <h2>About Page</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>More About Me</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Education</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Hobbies</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Personality</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">  
                {% for degree in degrees %}
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>{{ degree.title|title }}</h4>
                  </div>
                  <p>{{ degree.explanation|safe }}</p>
                {% endfor %}
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                {% for hobby in hobbies %}
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>{{ hobby.title|title }}</h4>
                  </div>
                  <p>{{ hobby.explanation|safe }}</p>
                {% endfor %}
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                {% for ethic in ethics %}
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>{{ ethic.title }}</h4>
                  </div>
                  <p>{{ ethic.explanation|safe }}</p>
                {% endfor %}                  
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            <img src="{% static 'img/features-2.png' %}" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>My Programming Skills and Fields</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'img/features-3.png' %}" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                {% for skill in skills %}
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="ri-{{ skill.icon }}"></i>
                    <div>
                      <h4>{{ skill.title }}</h4>
                      <p>{{ skill.explanation }}</p>
                    </div>
                  </div>
                {% endfor %}

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section>

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>My Values</h2>
          <p>I want to share my experiences in these fields</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Financial Literacy</h3>
              <p>How should we manage our income & expenses? Is investment a trap or a launch platform? what is an asset?</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="{% static 'img/values-2.png' %}" class="img-fluid" alt="">
              <h3>Imporvement & Motivation</h3>
              <p>How to reach your better self? How to motivate yourself with internal values? Who should you compete with?</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="{% static 'img/values-3.png' %}" class="img-fluid" alt="">
              <h3>Planning & Time Management</h3>
              <p>How to get more from the same amount of time? How should we plan for reaching our goals? bring your dead time back into life.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->


{% endblock main_content %}
    