{% load static %}
{% load humanize %}
<!-- Getting next and previous posts using Django Model.get_next/previous_by_FOO -->

{% if post.get_previous_by_created_date and post.get_previous_by_created_date.status %}
  <h3 class="adjacent-title"><a href="{% url 'blog:single' pid=post.get_previous_by_created_date.id %}"><i class="bi bi-arrow-left"></i> Previous Post</a></h3>
  <div class="sidebar-item recent-posts">
    <a href="{% url 'blog:single' pid=post.get_previous_by_created_date.id %}">
        <div class="post-item clearfix">
        <img src="{{ post.get_previous_by_created_date.image.url }}" alt="{{ post.get_previous_by_created_date.title }}" />
        <h4><a href="{% url 'blog:single' pid=post.get_previous_by_created_date.id %}">{{ post.get_previous_by_created_date.title|title }}</a></h4>
        <time datetime="{{ post.get_previous_by_created_date.published_date }}">{{ post.get_previous_by_created_date.published_date|naturaltime }}</time>
        </div>
    </a>
  </div>
{% endif %}
{% if post.get_next_by_created_date and post.get_next_by_created_date.status %}
  <h3 class="adjacent-title next-post"><a href="{% url 'blog:single' pid=post.get_next_by_created_date.id %}">Next Post <i class="bi bi-arrow-right"></i></a></h3>
  <div class="sidebar-item recent-posts">
    <a href="{% url 'blog:single' pid=post.get_next_by_created_date.id %}">
        <div class="post-item clearfix next-post-details">
        <img src="{{ post.get_next_by_created_date.image.url }}" alt="{{ post.get_next_by_created_date.title }}" />
        <h4><a href="{% url 'blog:single' pid=post.get_next_by_created_date.id %}">{{ post.get_next_by_created_date.title|title }}</a></h4>
        <time datetime="{{ post.get_next_by_created_date.published_date }}">{{ post.get_next_by_created_date.published_date|naturaltime }}</time>
        </div>
    </a>
  </div>
{% endif %}
