{% load static %}
<div class="blog-author d-flex align-items-center">
    <img src="{% static 'img/blog/blog-author.jpg' %}" class="rounded-circle float-left" alt="">
    <div>
      <h4>Amir Hosein Malek Pour</h4>
      <div class="social-links">
        <a href="https://github.com/Malekpour99" class="twitter"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/amirhosein-malekpour-44abb8172/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="mailto:malekpour.projects@gmail.com" class="linkedin"><i class="bi bi-envelope"></i></a>
      </div>
      <p>
        I am a web-developer who believes that we either get better or worse and there is no middle ground here; so if you are not getting better then you are getting worse. I will always try to help others because even if I create a tiny bit of positive change, I helped somebody to get better which leads to a better world. ✌🏽
      </p>
    </div>
  </div><!-- End blog author bio -->