{% load static %}
<h3 class="sidebar-title">Recent Posts</h3>
<div class="sidebar-item recent-posts">
  <div class="post-item clearfix">
    <img src="{% static 'img/blog/blog-recent-1.jpg' %}" alt="" />
    <h4><a href="{% url 'blog:single' %}">Nihil blanditiis at in nihil autem</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{% static 'img/blog/blog-recent-2.jpg' %}" alt="" />
    <h4><a href="{% url 'blog:single' %}">Quidem autem et impedit</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{% static 'img/blog/blog-recent-3.jpg' %}" alt="" />
    <h4><a href="{% url 'blog:single' %}">Id quia et et ut maxime similique occaecati ut</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{% static 'img/blog/blog-recent-4.jpg' %}" alt="" />
    <h4><a href="{% url 'blog:single' %}">Laborum corporis quo dara net para</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{% static 'img/blog/blog-recent-5.jpg' %}" alt="" />
    <h4><a href="{% url 'blog:single' %}">Et dolores corrupti quae illo quod dolor</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>
</div>
<!-- End sidebar recent posts -->
