{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block main_content %}
    
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li><a href="{% url 'blog:home' %}">Blog</a></li>
        </ol>
        <h2>{{ page_title|title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            {% for post in posts %}
              
            <article class="entry">

              <div class="entry-img-home">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid w-100">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog:single' pid=post.id %}">{{ post.title|title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog:single' pid=post.id %}"><time datetime="{{ post.published_date }}">{{ post.published_date|date:"d M Y" }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blog:single' pid=post.id %}">{% comments_count post.id %} Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="{% url 'blog:single' pid=post.id %}">{{ post.counted_views }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ post.content|truncatewords:30|safe }}
                </p>
                <div class="read-more">
                  <a href="{% url 'blog:single' pid=post.id %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}


            <div class="blog-pagination">
              <ul class="justify-content-center">
                
                {% comment %} directs you to the first page {% endcomment %}
                {% if posts.number != 1 %}
                <li><a href="?page=1"><i class="bi bi-chevron-bar-left"></i></a></li>
                {% endif %}
                
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}<li class="active">{% else %}<li>{% endif %}<a href="?page={{i}}">{{ i }}</a></li>                
                {% endfor %}

                {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
                {% endif %}

                {% comment %} directs you to the last page {% endcomment %}
                {% if posts.number != posts.paginator.num_pages %}
                <li><a href="?page={{ posts.paginator.num_pages }}"><i class="bi bi-chevron-bar-right"></i></a></li>
                {% endif %}
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% include "blog/includes/blog-search.html" %}

              {% post_categories %}

              {% recent_posts %}

              {% all_tags %}

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock main_content %}
