{% extends 'base.html' %}
{% load static %}


{% block main_content %}
    
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog Home</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            
            {% for post in posts %}
              
            <article class="entry">

              <div class="entry-img">
                <img src="{{ post.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url  'blog:single' %}">{{ post.title|title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url  'blog:single' %}">{{ post.author }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url  'blog:single' %}"><time datetime="{{ post.published_date }}">{{ post.published_date|date:"d M Y" }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url  'blog:single' %}">12 Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="{% url  'blog:single' %}">{{ post.counted_views }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ post.content|truncatewords:25 }}
                </p>
                <div class="read-more">
                  <a href="{% url  'blog:single' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}


            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% include "blog/includes/blog-search.html" %}

              {% include "blog/includes/blog-categories.html" %}

              {% include "blog/includes/blog-recent-posts.html" %}

              {% include "blog/includes/blog-tags.html" %}

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock main_content %}
