{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% block main_content %}
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li><a href="{% url 'blog:home' %}">Blog</a></li>
          <li>Post - {{post.id}}</li>
        </ol>
        <h2>{{ post.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid w-100">
              </div>

              <h2 class="entry-title">
                <a href="#">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="{{ post.published_date }}">{{ post.published_date|date:"d M Y" }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#comments-section">{{ comments|length }} Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="#">{{ post.counted_views }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                {{ post.content|safe }}
              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  {% for category in post.category.all %}
                  <li><a href="{% url 'blog:category' cat_name=category.name %}">{{ category.name }}</a></li>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  {% for tag in tags %}
                  <li><a href="{% url 'blog:tag' tag_name=tag.name %}">{{ tag.name|title }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            </article><!-- End blog entry -->

            {% include "blog/includes/blog-author-bio.html" %}

            <div class="blog-comments" id="comments-section">

              <h4 class="comments-count">{{ comments|length }} Comments</h4>

              {% for comment in comments %}
              <div class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'img/blog/anonymous-person.jpg' %}" alt="User-Image"></div>
                  <div>
                    <h5><a href="">{{ comment.name }}</a> {% comment %}  <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a> {% endcomment %} </h5> 
                    <time datetime="{{ comment.created_date }}">{{ comment.created_date|naturaltime }}</time>
                    <p>
                      {{ comment.message }}
                    </p>
                  </div>
                </div>
              </div><!-- End comment -->
              {% empty %}
										<p>Be the first one to share your thoughts!</p>
              {% endfor %}

              <div class="reply-form">
                <h4>Leave a Comment</h4>
                <p>Your email address will not be published. * fields are required.</p>
                <form method="post" action="{% url 'blog:single' pid=post.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="post" value={{ post.id }}>
                  {% if request.user.is_authenticated and request.user.username and request.user.email %}
										<input type="hidden" name="name" value={{ request.user.username }}>
										<input type="hidden" name="email" value={{ request.user.email }}>
									{% else %}
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*" onfocus="this.placeholder=''" onblur="this.placeholder ='Your Name*'" required>
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*" onfocus="this.placeholder=''" onblur="this.placeholder ='Your Email*'" required>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col form-group">
                      <input name="subject" type="text" class="form-control" placeholder="Subject" onfocus="this.placeholder=''" onblur="this.placeholder ='Subject'">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="message" class="form-control" placeholder="Comment*" onfocus="this.placeholder=''" onblur="this.placeholder ='Comment*'" required></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% include "blog/includes/blog-search.html" %}

              {% post_categories %}

              {% recent_posts %}

              {% all_tags %}

              {% include "blog/includes/blog-adjacent-posts.html" %}
              
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock main_content %}
